<template>
    <v-app id="inspire">
        <sidebar-navigation :drawer="drawer"></sidebar-navigation>
        <v-app-bar app dark class="elevation-1" clipped-left clipped-right>
            <v-app-bar-nav-icon @click.stop="drawer = !drawer" />
            <v-toolbar-title>
                <router-link to="/admin" class="d-flex align-center" style="text-decoration: none;">
                    <div class="pt-2 text-xs-center">
                    </div>
                    <span :class="$vuetify.breakpoint.smAndDown ? 'title' :  'headline'"
                          class="font-weight-black white--text mt-1 text-md hidden-xs-only">
                        Административная панель Caapl
                    </span>
                </router-link>
            </v-toolbar-title>
            <v-spacer></v-spacer>
            <v-btn icon class="mr-2">
                <v-icon @click="logout">mdi-exit-to-app</v-icon>
            </v-btn>
        </v-app-bar>
        <v-main>
            <router-view></router-view>
        </v-main>
    </v-app>
</template>

<script>
    import SidebarNavigation from './SidebarNavigation'

    export default {
        name: 'App',
        components: {
            SidebarNavigation,
        },

        data () {
            return {
                logoutPreloader: false,
                drawer: true,
                loading: false
            }
        },

        computed: {
            isLogin() {
                return this.$route.name === 'Login';
            }
        },

        methods: {
            logout() {
                this.logoutPreloader = true;
                this.$auth.logout({
                    makeRequest: true,
                    url: '/logout',
                    redirect: { name: 'Login' },
                    success(res) {
                        this.logoutPreloader = false;
                    },
                    error(err) {
                        this.logoutPreloader = false;

                        if (err.response) {
                            this.error.push(err.response.data);
                        } else {
                            console.log('Error', err.message);
                        }
                    }
                });
            },
        }
    };
</script>