<template>
        <div class="lg">
            <div class="hidden lg:flex items-center justify-center bg-blue-100 h-screen">
                <div class="max-w-xs transform duration-200 hover:scale-110 cursor-pointer">
                    <img src="../../../../public/images/main-bg-im.png" class="img-responsive w-full w-screen" alt="">
                </div>
                <div class="ml-20">
                    Эта страница Вам не доступна!
                    <br>
                    <a href="/" class="bg-blue-500 mt-10 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full">Вернуться на главную страницу</a>
                </div>
            </div>
        </div>
</template>


<script>
export default {
     data() {
        return {
            error: [],
            email: '',
            password: ''
        }
    },
    methods: {
        onSubmit() {
            this.preloader = true

            this.$auth.login({
                headers: {'Content-Type': 'application/json'},
                data: {
                    email: this.email,
                    password: this.password
                },
                rememberMe: true,
                redirect: {name: 'AdminPanel'},
                success(res) {
                    // this.preloader = false
                },
                error(err) {
                    // this.preloader = false
                    if (err.response) {
                        this.error.push(err.response.data.message)
                    } else {
                        console.log('Error', err.message)
                    }
                }
            })
        }
    }
}
</script>