<template>
    <v-container class="m-10">
        <v-row>
            <v-col>
                <v-card class="text-xs-center purple">
                    <v-card-text>
                        <v-flex>
                            <v-icon class="white--text text-h1 mr-3">mdi-file-chart</v-icon>
                            <div class="pt-2 text-h4 white--text">{{ pollsCount }} <p>Опросов пройдено</p> </div>
                        </v-flex>
                        
                    </v-card-text>
                </v-card>
            </v-col>
            <v-col>
                <v-card class="text-xs-center blue">
                    <v-card-text>
                        <v-flex>
                            <v-icon class="white--text text-h1 mr-3">mdi-message</v-icon>
                            <div class="pt-2 text-h4 white--text">{{ messagesCount }} <p>Сообщений</p></div>
                        </v-flex>
                    </v-card-text>
                </v-card>
            </v-col>
            <v-col>
                <v-card class="text-xs-center red">
                    <v-card-text>
                        <v-flex>
                            <v-icon class="white--text text-h1 mr-3">mdi-forum</v-icon>
                            <div class="pt-2 text-h4 white--text">{{ repliedMessagesCount }} <p>сообщений отвечено</p> </div>
                        </v-flex>
                        
                    </v-card-text>
                </v-card>
            </v-col>
        </v-row>
    </v-container>
</template>


<script>
export default {
    data() {
        return {
            messagesCount: 0,
            pollsCount: 0,
            repliedMessagesCount: 0
        }
    },

    mounted() {
        this.initialize();
    },

    methods: {
        initialize() {
            this.$axios.get('/admin/get-data')
                .then(response => {
                    console.log(response.data);
                    this.messagesCount = response.data.messagesCount;
                    this.pollsCount = response.data.pollsCount;
                    this.repliedMessagesCount = response.data.repliedMessagesCount;
                })
        }
    }
}
</script>