<template>
    
        <div class="lg:flex">
            <div class="lg:w-1/2 xl:max-w-screen-sm">
                <div class="mt-10 px-12 sm:px-24 md:px-48 lg:px-12 lg:mt-16 xl:px-24 xl:max-w-2xl">
                    <h2 class="text-center text-4xl text-blue-900 font-display font-semibold lg:text-left xl:text-5xl
                    xl:text-bold">Авторизация</h2>
                    <div class="mt-12">
                        <form @submit.prevent="onSubmit">
                            <div>
                                <div class="text-sm font-bold text-gray-700 tracking-wide">Email</div>
                                <input class="w-full text-lg py-2 border-b border-gray-300 focus:outline-none focus:border-blue-500" type="email" v-model="email" placeholder="example@gmail.com">
                            </div>
                            <div class="mt-8">
                                <div class="flex justify-between items-center">
                                    <div class="text-sm font-bold text-gray-700 tracking-wide">
                                        Пароль
                                    </div>
                                    <div>
                                        <a class="text-xs font-display font-semibold text-blue-600 hover:text-blue-800
                                        cursor-pointer">
                                            Забыли пароль?
                                        </a>
                                    </div>
                                </div>
                                <input class="w-full text-lg py-2 border-b border-gray-300 focus:outline-none focus:border-blue-500" type="password" v-model="password" placeholder="Вводите пароль">
                            </div>
                            <div class="mt-10">
                                <button class="bg-blue-500 text-gray-100 p-4 w-full rounded-full tracking-wide
                                font-semibold font-display focus:outline-none focus:shadow-outline hover:bg-blue-600
                                shadow-lg" type="submit">
                                    Войти
                                </button>
                            </div>
                        </form>
                        <div class="mt-12 text-sm font-display font-semibold text-gray-700 text-center">
                            Нет аккаунта? <router-link to="/admin/register" class="cursor-pointer text-blue-600 hover:text-blue-800">Создать аккаунт</router-link>
                        </div>
                    </div>
                </div>
            </div>
            <div class="hidden lg:flex items-center justify-center bg-blue-100 flex-1 h-screen">
                <div class="max-w-xs transform duration-200 hover:scale-110 cursor-pointer">
                    <img src="../../../../public/images/main-bg-im.png" class="img-responsive w-full w-screen" alt="">
                </div>
            </div>
        </div>
</template>


<script>
export default {
     data() {
        return {
            error: [],
            email: '',
            password: ''
        }
    },
    methods: {
        onSubmit() {
            this.preloader = true

            this.$auth.login({
                headers: {'Content-Type': 'application/json'},
                data: {
                    email: this.email,
                    password: this.password
                },
                rememberMe: true,
                redirect: {name: 'AdminPanel'},
                success(res) {
                    // this.preloader = false
                },
                error(err) {
                    // this.preloader = false
                    if (err.response) {
                        this.error.push(err.response.data.message)
                    } else {
                        console.log('Error', err.message)
                    }
                }
            })
        }
    }
}
</script>