<template>
    <v-container fluid>
        <!-- <v-row>
            <v-col cols="12">
                <v-card tile>
                    <v-card-title>
                        <h1 class="headline">Сообщения</h1>
                    </v-card-title>
                    <v-card-text>

                        <v-data-table
                                :headers="headers"
                                :items="messages"
                                no-data-text="Нет данных :("
                                no-results-text="Ничего не найдено :("
                                loading-text="Загрузка... пожалуйста подождите"
                                item-key="id"
                                :search="search"
                                :loading="loading"
                                :footer-props="{itemsPerPageOptions: rowsPerPageItems, itemsPerPageText: 'Строк на страницу'}"
                                class="elevation-1 border-radius-0"
                        >
                        </v-data-table>
                    </v-card-text>
                </v-card>
            </v-col>
        </v-row> -->
        <v-data-table
            :headers="headers"
            :items="messages"
            sort-by="шв"
            class="elevation-1"
        >
            <template v-slot:top>
                <v-toolbar flat>
                    <v-toolbar-title>Сообщения</v-toolbar-title>

                    <v-divider class="mx-4" inset vertical></v-divider>

                    <v-spacer></v-spacer>

                    <v-dialog max-width="500px" v-model="dialogAnswer">
                        <v-card>
                            <v-card-title>
                                <span class="headline">Ваш ответ</span>
                            </v-card-title>
                
                            <v-card-text>
                                <v-container>
                                    <v-row>
                                        <v-col cols="12" sm="12" md="12">
                                            <v-textarea v-model="editedItem.answer" placeholder="Ваш ответ"></v-textarea>
                                        </v-col>
                                    </v-row>
                                </v-container>
                            </v-card-text>
                
                            <v-card-actions>
                                <v-spacer></v-spacer>
                                <v-btn color="blue darken-1" @click="closeAnswer" text>Отмена</v-btn>
                                <v-btn color="blue darken-1 white--text" @click="saveAnswer">Сохранить</v-btn>
                            </v-card-actions>
                        </v-card>
                    </v-dialog>
                    <v-dialog v-model="dialogDelete" max-width="500px">
                        <v-card>
                        <v-card-title class="headline">Вы уверены, что хотите удалит сообщения?</v-card-title>
                        <v-card-actions>
                            <v-spacer></v-spacer>
                            <v-btn color="blue darken-1" text @click="closeDelete">Отмена</v-btn>
                            <v-btn color="blue darken-1" text @click="deleteItemConfirm">Да</v-btn>
                            <v-spacer></v-spacer>
                        </v-card-actions>
                        </v-card>
                    </v-dialog>
                </v-toolbar>
            </template>
            <template v-slot:item.actions="{ item }">
                <v-tooltip bottom>
                    <template v-slot:activator="{ on, attrs }">
                        <v-icon small class="mr-2" @click="answerMessage(item)" v-on="on">mdi-forum</v-icon>
                    </template>
                    <span>Ответить</span>
                </v-tooltip>
                
                <v-tooltip bottom>
                    <template v-slot:activator="{ on, attrs }">
                        <v-icon small @click="deleteItem(item)" v-on="on">mdi-delete</v-icon>
                    </template>
                    <span>Удалить</span>
                </v-tooltip>
            </template>
        </v-data-table>
    </v-container>
</template>

<script>
    export default {
        data () {
            return {
                rowsPerPageItems: [24, 48, 72],
                messages: [],
                loading: false,
                search: '',
                dialogDelete: false,
                dialogAnswer: false,
                deletedId: -1,
                answerId: -1,

                editedItem: {
                    id: '',
                    name: '',
                    message: '',
                    answer: ''
                },

                headers: [
                    {text: 'ID', value: 'id', sortable: true},
                    {text: 'Имя', value: 'name', sortable: true},
                    {text: 'Сообщения', value: 'message', sortable: false},
                    {text: 'Ответ', value: 'answer', sortable: false},
                    {text: 'Дата создания', value: 'created_at', sortable: true},
                    {text: 'Действия', value: 'actions', sortable: false}
                ],
            }
        },

        created(){
            this.initialize();
        },

        watch: {
            dialogAnswer (val) {
                val || this.closeAnswer()
            },

            dialogDelete (val) {
                val || this.closeDelete()
            },
        },

        methods: {
            initialize () {
                this.loading = true;
                this.$axios.get('/admin/messages')
                    .then(response => {
                        this.messages = response.data.data;
                    })
                    .finally(() => this.loading = false)
            },

            answerMessage(item) {
                this.dialogAnswer = true;
                this.answerId = item.id;
                this.editedItem = item;
            },

            deleteItem(item) {
                this.deletedId = item.id;
                this.dialogDelete = true
            },

            deleteItemConfirm () {
                this.loading = true;
                this.$axios.delete('/admin/messages/delete/' + this.deletedId)
                    .then(response => {
                        this.loading = false;

                        this.closeDelete();
                    })
                    .catch(error => {
                        this.$swal('Ошибка', 'Что-то пошло не так! Попробуйте позже.', 'error');
                    })
                    .finally(() => {
                        this.loading = false
                        this.closeDelete();
                    })
            },

            saveAnswer () {
                this.loading = true;

                this.$axios.post('/admin/messages/update/' + this.answerId, this.editedItem)
                    .then(response => {
                        this.$swal('Успешно', 'Ваш ответ успешно сохранён!', 'success');
                        this.loading = false;
                        this.closeAnswer();
                    })
                    .catch(error => {
                        this.$swal('Ошибка', 'Что-то пошло не так! Попробуйте позже.', 'error');
                    })
                    .finally(() => {
                        this.loading = false;
                        this.closeAnswer();
                    })
            },

            closeDelete () {
                this.deletedId = -1;
                this.dialogDelete = false
                this.initialize();
            },

            closeAnswer () {
                this.answerId = -1;
                this.dialogAnswer = false
                this.initialize();
            },
        }
    }
</script>