<template>
    <v-container fluid>

        <v-data-table
            :headers="headers"
            :items="polls"
            sort-by="шв"
            class="elevation-1"
        >
            <template v-slot:top>
                <v-toolbar flat>
                    <v-toolbar-title>Опросы</v-toolbar-title>

                    <v-divider class="mx-4" inset vertical></v-divider>

                    <v-spacer></v-spacer>

                    <v-dialog max-width="500px">
                        <template v-slot:activator="{ on, attrs }">
                            <a href="/api/admin/export-polls" target="_balnk">
                                <v-btn
                                    color="primary"
                                    dark
                                    class="mb-2"
                                    v-bind="attrs"
                                    v-on="on"
                                >
                                    <v-icon class="mr-2">mdi-microsoft-excel</v-icon>
                                    Excel
                                </v-btn>
                            </a>
                        </template>
                    </v-dialog>
                </v-toolbar>
            </template>
        </v-data-table>
    </v-container>
</template>

<script>
    export default {
        data () {
            return {
                rowsPerPageItems: [24, 48, 72],
                dialogDelete: false,
                polls: [],
                loading: false,
                search: '',

                headers: [
                    // {text: 'Действие', value: 'actions', sortable: false},
                    {text: 'ID', value: 'id', sortable: true},
                    {text: 'Дата опроса', value: 'created_at', sortable: true},
                    {text: 'Имя', value: 'question15', sortable: true},
                    {text: 'Телефон или email', value: 'question16', sortable: true},
                    {text: 'Вы проживаете в г.Алматы?', value: 'question1', sortable: false},
                    {text: 'Сколько Вам полных лет?', value: 'question2', sortable: false},
                    {text: 'Какой пол был указан при рождении в Вашем свидетельстве о рождении?', value: 'question3', sortable: false},
                    {text: 'Гендерное определение некоторых людей отличается от того, которое указано в их свидетельстве о рождении. Как Вы идентифицируете себя сейчас?', value: 'question4', sortable: false},
                    {text: 'Социальное суждение. Вы согласны или не согласны со следующим утверждением: "Люди думают, что иметь ВИЧ - это позор и стыд, и они не должны общаться со мной".', value: 'question5', sortable: false},
                    {text: 'Слышали ли Вы о Кодексе о здоровье народа и системе здравоохранения, в котором прописаны нормы гарантирующие права людей, живущих с ВИЧ, в Казахстане?', value: 'question6', sortable: false},
                    {text: 'Если ДА, то читали ли Вы или обсуждали содержание этого закона?', value: 'question7', sortable: false},
                    {text: 'Испытывали ли Вы за последние 12 месяцев какие-либо из следующих переживаний из-за своего ВИЧ-статуса?', value: 'question8', sortable: false},
                    {text: 'За последние 12 месяцев, сталкивались ли вы со случаями стигмы и дискриминации по отношению к вам?', value: 'question9', sortable: false},
                    {text: 'В каком учреждении за последние 12 месяцев, вам отказывали в медицинских услугах, включая стоматологическую помощь, из-за вашего ВИЧ-статуса?', value: 'question10', sortable: false},
                    {text: 'В каком учреждении за последние 12 месяцев, вам отказывали в медицинских услугах, включая стоматологическую помощь, из-за вашего ВИЧ-статуса?', value: 'question11', sortable: false},
                    {text: 'За последние 12 месяцев пытались ли Вы что-либо предпринять в случае стигмы и дискриминации по отношению к вам?', value: 'question12', sortable: false},
                    {text: 'Случай: опишите коротко с каким случаем стигмы и/или дискриминации по отношения к Вашему ВИЧ-статусу Вы испытали за последние 12 месяцев?', value: 'question13', sortable: false},
                    {text: 'Хотите ли вы получить консультацию по поводу случая стигмы и дискриминации по отношению к вам?', value: 'question14', sortable: false},
                ],
            }
        },
        created(){
            this.initialize();
        },

        // watch: {
        //     dialogDelete (val) {
        //         val || this.closeDelete()
        //     },
        // },

        methods: {
            initialize () {
                this.loading = true;
                this.$axios.get('/admin/polls')
                    .then(response => {
                        this.polls = response.data;
                    })
                    .finally(() => this.loading = false)
            },

            // deleteItem (item) {
            //     this.editedIndex = this.polls.indexOf(item)
            //     this.editedItem = Object.assign({}, item)
            //     this.dialogDelete = true
            // },
        }
    }
</script>