<template>
    
        <div class="lg:flex">
            <div class="lg:w-1/2 xl:max-w-screen-sm">
                <div class="mt-10 px-12 sm:px-24 md:px-48 lg:px-12 lg:mt-16 xl:px-24 xl:max-w-2xl">
                    <h2 class="text-center text-4xl text-blue-900 font-display font-semibold lg:text-left xl:text-5xl
                    xl:text-bold">Регистрация</h2>
                    <div class="mt-12">
                        <form @submit.prevent="onSubmit">
                            <div>
                                <div class="text-sm font-bold text-gray-700 tracking-wide">Имя</div>
                                <input class="w-full text-lg py-2 border-b border-gray-300 focus:outline-none focus:border-blue-500" type="text" v-model="name" placeholder="Имя">
                            </div>
                            <div class="mt-8">
                                <div class="text-sm font-bold text-gray-700 tracking-wide">Email</div>
                                <input class="w-full text-lg py-2 border-b border-gray-300 focus:outline-none focus:border-blue-500" type="email" v-model="email" placeholder="example@gmail.com">
                            </div>
                            <div class="mt-8">
                                <div class="flex justify-between items-center">
                                    <div class="text-sm font-bold text-gray-700 tracking-wide">
                                        Пароль
                                    </div>
                                </div>
                                <input class="w-full text-lg py-2 border-b border-gray-300 focus:outline-none focus:border-blue-500" type="password" v-model="password" placeholder="Вводите пароль">
                            </div>
                            <div class="mt-8">
                                <div class="flex justify-between items-center">
                                    <div class="text-sm font-bold text-gray-700 tracking-wide">
                                        Повторите пароль
                                    </div>
                                </div>
                                <input class="w-full text-lg py-2 border-b border-gray-300 focus:outline-none focus:border-blue-500" type="password" v-model="password_confirmation" placeholder="Вводите пароль повторно">
                            </div>
                            <div class="mt-10">
                                <button class="bg-blue-500 text-gray-100 p-4 w-full rounded-full tracking-wide
                                font-semibold font-display focus:outline-none focus:shadow-outline hover:bg-blue-600
                                shadow-lg" type="submit">
                                    Регистрация
                                </button>
                            </div>
                        </form>
                        <div class="mt-12 text-sm font-display font-semibold text-gray-700 text-center">
                            Уже зарегистрированы? <router-link to="/admin/login" class="cursor-pointer text-blue-600 hover:text-blue-800">Авторизация</router-link>
                        </div>
                    </div>
                </div>
            </div>
            <div class="hidden lg:flex items-center justify-center bg-blue-100 flex-1 h-screen">
                <div class="max-w-xs transform duration-200 hover:scale-110 cursor-pointer">
                    <img src="../../../../public/images/main-bg-im.png" class="img-responsive w-full w-screen" alt="">
                </div>
            </div>
            
        </div>
</template>


<script>
export default {
    data() {
        return {
            error: [],
            name: '',
            email: '',
            password: '',
            password_confirmation: '',
        }
    },
    methods: {
        onSubmit() {
            this.$axios.post('/register', 
                {
                    "name": this.name,
                    "email": this.email,
                    "password": this.password,
                    "password_confirmation": this.password_confirmation
                }
            ).then(response => {
                this.$router.push('/admin/login');
            })
            .catch(error => {
                this.$swal('Ошибка!', "Что-то пошло не так! Попробуйте ещё раз!", 'error');
            })
        }
    }
}
</script>