<template>
    <v-navigation-drawer app v-model="drawer" fixed left clipped dark>
        <v-list dense class="pt-2">
            <template v-for="(item, index) in items">
                <router-link :to="item.link">
                    <v-list-item :key="item.title" link>
                        <v-list-item-action>
                            <v-icon>{{ item.icon }}</v-icon>
                        </v-list-item-action>
                        <v-list-item-content>
                            <v-list-item-title>{{ item.title }}</v-list-item-title>
                            
                        </v-list-item-content>
                    </v-list-item>
                    <v-divider v-if="index + 1 < items.length+1"
                            :key="index"
                    ></v-divider>
                </router-link>
            </template>
        </v-list>
    </v-navigation-drawer>
</template>

<script>
    export default {
        name: 'SidebarNavigation',
        props: ['drawer'],
        data () {
            return {
                items: [
                    {title: 'Главная', icon: 'mdi-view-dashboard-outline', 'link': '/admin'},
                    {title: 'Опросы', icon: 'mdi-tray-full', 'link': '/admin/polls'},
                    {title: 'Сообщения', icon: 'mdi-message', 'link': '/admin/messages'},
                ]
            }
        },
        methods: {}
    }
</script>


<style>
nav {
    margin-top: 0;
}
</style>