body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

.nav__p1,
.nav__p2 {
    font-weight: 900;
}

p {
    font-size: 16px;
    font-weight: 500;
}

.c1__header1 {
    font-size: 45px;
}

h2 {
    font-size: 14px;
    font-weight: 700;
}

h1 {
    font-size: 200px;
    font-weight: 900;
}

button {
    cursor: pointer;
    outline: none;
}

img {
    display: block;
    max-width: 100%;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 15px;
}

.logo {
    width: 160px;
    height: 60px;
}

.menu__item li,
.menu__item {
    display: block;
    margin: 0;
    padding: 0;
}

.menu__item {
    display: flex;
    justify-content: space-between;
    width: 900px;
}

.menu__item li a {
    text-decoration: none;
    color: black;
    font-size: 14px;
}
.menu__item li a:hover {
    color: #4d89eb;
}
.menu {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    padding-top: 15px;
}

nav {
    margin-top: 200px;
    padding-bottom: 50px;
}

nav p {
    font-size: 80px;
    font-weight: 600;
    margin: 0;
    padding: 0;
}

.nav__p2 {
    color: #c92c4e;
    text-decoration: underline;
}

nav button {
    background-color: white;
    border-radius: 30px;
    font-size: 14px;
    font-family: bold;
    transition: 0.2s;
}

.nav__b1 {
    font-family: 'Montserrat', sans-serif;
    width: 390px;
    width: 433px;
    height: 45px;
    margin-right: 25px;
    background: #4d89eb;
    border: 1px solid #4d89eb;
    color: #fff;
}

.nav__b1:hover {
    background: #fff;
    color: #000;
    border: 2px solid #555555;
}
.nav__b2 {
    font-family: 'Montserrat', sans-serif;
    width: 197px;
    height: 45px;
}

nav button:hover {
    background-color: #4d89eb;
    border: none;
    color: white;
}

.nav__buttons {
    margin-top: 45px;
}

.nav__logo1 {
    width: 160px;
    height: 90px;
}

.nav__logos {
    margin-top: 80px;
    max-width: 435px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.nav__logo2 {
    width: 245px;
    height: 90px;
}

.main__bg {
    width: 730px;
    height: 620px;
    position: absolute;
    right: 9%;
    bottom: 0;
}

header {
    position: relative;
}

.main {
    position: relative;
    padding-bottom: 50px;
}

/* hide menu */

#reportmenu {
    margin-top: 5px;
    display: none;
}

.tre {
    width: 20%;
    height: 4px;
    background: #9aace2;
    margin: 5px auto 5px auto;
}

#reportmenu>ul {
    list-style: none;
    margin: 0;
    padding: 0;
    padding-top: 10;
    /*!position: fixed;*/
    top: 5px;
    width: 200;
    z-index: 100;
}

#reportmenu>ul li {
    display: block;
    position: relative;
    margin: 0;
    padding: 0;
    min-width: 150px;
}

#reportmenu>ul li a {
    font: 80% Montserrat, tahoma, ms sans serif, arial;
    color: #000000;
    display: block;
    position: relative;
    min-width: 130px;
    min-height: 18px;
    padding: 6px 20px;
    border-bottom: 1px solid #373e54;
    color: #fff;
    text-decoration: none;
    background: #373e54;
}

#reportmenu>ul li>a:hover,
#reportmenu>ul li:hover>a {
    color: #fff;
    background: #97a6b1;
    border-color: transparent;
}

#reportmenu>ul .has-sub>a::after {
    content: '';
    position: absolute;
    top: 13px;
    right: 10px;
    width: 0px;
    height: 0px;
    border: 4px solid transparent;
    border-left: 4px solid #fff;
}

#reportmenu>ul .top-menu>a::after {
    content: '';
    position: absolute;
    top: 13px;
    right: 10px;
    width: 0px;
    height: 0px;
    border: 4px solid transparent;
    border-top: 4px solid #fff;
}

#reportmenu>ul ul {
    position: absolute;
    left: 100%;
    top: -9999px;
    padding-left: 0;
    border-left: 5px solid #fff;
    opacity: 0;
    z-index: 100;
    -webkit-transition: opacity .3s ease-in;
    -moz-transition: opacity .3s ease-in;
    -o-transition: opacity .3s ease-in;
    -ms-transition: opacity .3s ease-in;
}

#reportmenu ul ul ul {
    border-left: 5px solid #fff;
}

#reportmenu ul.submenu {
    left: 0;
}

#reportmenu li:hover>ul.submenu {
    top: 0;
    opacity: 1;
    border-top: 4px solid white;
    position: relative;
}

#reportmenu>ul li:hover>ul {
    top: 0px;
    opacity: 1;
}

#reportmenu>ul li:first-child>a {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-top: 0;
}

#reportmenu>ul li:last-child>a {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom: 0;
}

.submenu {
    display: none;
}
.active {
    display: block;
}

/* 1 -  container */

.con1 {
    padding-top: 55px;
    background-color: #f8f7f7;
}

.alltextcon1 {
    max-width: 700px;
}

.c1__header1 {
    margin: 0;
    padding: 0;
}

.con1 span {
    color: #e8505b;
}

.c1__header2 {
    margin: 0;
    padding: 0;
    margin-top: 70px;
    font-size: 16px;
}

.c1__hedaer3 {
    margin: 0;
    padding: 0;
    margin-top: 45px;
    font-size: 16px;
}

.c1__hedaer4 {
    margin: 0;
    padding: 0;
    margin-top: 35px;
    font-size: 16px;
}

.con1 p {
    color: #606060;
    font-size: 16px;
}

.c1__par {
    margin: 0;
    padding: 0;
    margin-top: 16px;
}

.con1 {
    position: relative;
    padding-bottom: 50px;
}

.bg__im1 {
    width: 250px;
    height: 350px;
    position: absolute;
    right: 12%;
    top: 0;
}

.bg__im2 {
    width: 140px;
    height: 320px;
    position: absolute;
    right: 15%;
    bottom: 0;
}


/* second - page */

.prava {
    padding-top: 50px;
}

.prava p {
    color: #585858;
}

.prava h2 {
    font-size: 17px;
}

.prav__red {
    color: #ff0000;
}

.prava__text {
    max-width: 800px;
}


/* third page */

.get__sms {
    display: flex;
    justify-content: center;
}

.block {
    background-color: #e9e9e9;
    max-width: 650px;
    width: 100%;
    /*border: 1px solid #a4a4a4;*/
    border-radius: 10px;
    margin-bottom: 41px;
    padding-left: 10px;
    padding-left: 41px;
    padding-right: 41px;
    padding-top: 15px;
    padding-bottom: 35px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.10), 0 10px 10px rgba(0,0,0,0.10);

}
.soob {
    padding-top: 70px;
}
.block .block__intro {
    color: #4d89eb;
    font-size: 18px;
    margin-bottom: 5px;
    font-weight: 700;
}
.block__date {
    margin-top: 0;
    font-size: 18px;
    color: #ccc;
    margin-bottom: 30px;
}
.block__items_title {
    margin-bottom: 5px;
}
.block__items_text {
    margin-top: 0;
}
.form2 .in__name,
.form2 #in__sms {
    border-bottom: 2px solid #4d89eb;
    background-color: white;
}

.form2 .in__btn {
    background-color: #4d89eb;
}


/* 2 - container */

.con2 h2 {
    font-size: 45px;
}

.con2 {
    padding-top: 55px;
}

.con2 h2,
.con2 h5 {
    padding: 0;
    margin: 0;
}

.worker {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.workers {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 65px;
}

.workers div {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%
}
.con2 h5 {
    margin-top: 15px;
    font-size: 18px;
    text-align: center;
}

.con2 {
    padding-bottom: 80px;
}


/* 3 - container */

.con3 h2 {
    font-size: 45px;
    font-weight: 700;
}

.con3 {
    padding-top: 55px;
    background-color: #f8f7f7;
}
.con3__block {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.con3__text {
    max-width: 900px;

}

.con3 h2,
.con3 h6,
.con3 h3 {
    margin: 0;
    padding: 0;
}

.con3 span {
    color: #4d89eb;
    font-size: 16px;
    font-weight: 900;
}

.con3 h3 {
    margin-top: 50px;
}

.con3 h6 {
    color: #8a8686;
    font-size: 30px;
    font-weight: 700;
}

.con3__buttons button {
    background-color: white;
    border-radius: 15px;
    font-size: 20px;
    font-family: bold;
    transition: 0.2s;
    display: none;
}

.con3__b1 {
    font-family: 'Montserrat', sans-serif!important;
    width: 120px;
    height: 55px;
}

.con3__b2 {
    font-family: 'Montserrat', sans-serif!important;
    width: 160px;
    height: 55px;
}

.con3__buttons button:hover {
    background-color: #4d89eb;
    border: none;
    color: white;
}

.con3__buttons {
    margin-top: 40px;
}

.con3 {
    /*!padding-bottom: 70px;*/
}
/*#con4 {
    !position: relative;
    !height: 2111px;
    !max-width: 2111px;
}*/

/* 4 - container */

.question {
    font-size: 16px;
    margin-bottom: 5px;
    font-weight: 700;
}
label {
    font-size: 16px;
    font-weight: 400;
}
.con4__form {
    max-width: 900px;
}

.con4 {
    /*!box-shadow: 0 14px 28px rgb(0 0 0 / 25%), 0 10px 10px rgb(0 0 0 / 22%);*/
    padding-top: 30px;
    padding-bottom: 30px;
    /*!margin: 50px 0;
    !margin-left: 10px;*/
    background: #f8f7f7;
    overflow: hidden;
}
.con4__block {
    background: #fff;
    padding: 33px 53px;
    margin-left: -53px;
    box-shadow: 0 1px 0px rgb(0 0 0 / 5%), 0 1px 10px rgb(0 0 0 / 22%);
    width: calc(114% + 3px);
    /*!max-width: 100%;
    !height: 2048px;
    !width: 84%;
    !position: absolute;
    !z-index: 2;*/
}

#q2a1,
#q15a1,
#q16a1,
#q13a1 {
    border: none;
    outline: none;
    border-bottom: 1px solid black;
    font-weight: 100;
    font-size: 21px;
}


/* 5 - container */

.con5 h2 {
    font-size: 45px;
    font-weight: 700;
}

.con5 {
    padding-top: 55px;
    background-color: #f8f8f8;
}

.con5 h2,
.con5 h6 {
    margin: 0;
    padding: 0;
}

.con5 h6 {
    color: #8a8686;
    font-size: 30px;
    font-weight: 700;
}

.in__name {
    width: 360px;
    height: 40px;
    border: none;
    font-size: 20px;
    border-bottom: 2px solid #ff0042;
    outline: none;
    background-color: #f8f8f8;
}

#in__sms {
    width: 360px;
    height: 120px;
    border: none;
    font-size: 20px;
    outline: none;
    border-bottom: 2px solid #ff0042;
    background-color: #f8f8f8;
    margin-top: 35px;
}



.in__btn {
    width: 160px;
    height: 40px;
    border: none;
    border-radius: 10px;
    background-color: #e8505b;
    color: white;
    font-size: 16px;
    font-weight: 600;
    margin-top: 85px;
}
.in__btn:hover {
    opacity: .7;
}
.con4__form_btn {
    background: #5d93ec;
    margin-top: 41px;
}
.form1 {
    margin-top: 51px;
    max-width: 400px;
}

.bg__im3 {
    position: absolute;
    right: 220px;
    bottom: 0;
    width: 480px;
    height: 500px;
}

.con5 {
    position: relative;
    padding-bottom: 100px;
}


/* 6 - container */

.con6 h2 {
    font-size: 45px;
    font-weight: 700;
}

.con6__text {
    max-width: 500px;
}

.map {
    width: 650px;
    height: 380px;
}

.con6 {
    padding-top: 115px;
}

.contacts {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contacts h2,
.contacts p,
.container h6 {
    margin: 0;
    padding: 0;
}

.con6__par1 {
    margin-top: 50px!important;
    font-size: 18px;
    font-weight: 400;
}

.contacts h6 {
    margin-top: 45px;
    font-size: 17px;
}
.contacts p a {
    font-size: 15px;
    color: #fff;
    text-decoration: none;
}
.contacts p a:hover {
    text-decoration: underline;
}
.con6 {
    padding-bottom: 81px;
    background: #5d93ec;
    color: #fff;
}

input[type='radio'] {
    display: none;
}

label:before {
    content: " ";
    display: inline-block;
    position: relative;
    top: 5px;
    margin: 0 5px 0 0;
    width: 14px;
    height: 14px;
    border-radius: 11px;
    border: 2px solid #5d93ec;
    background-color: transparent;
}

input[type='radio']:checked+label:before {
    position: relative;
    border: 2px solid #e8505b;
    border-radius: 11px;
    width: 14px;
    height: 14px;
    top: 5px;
    content: " ";
    display: inline-block;
    background-color: #e8505b;
}
@media (min-width: 1700.98px) {
    .container {
        max-width: 1656px;
        padding: 0 15px;
    }
}
@media (min-width: 1399.98px) {
    .container {
        max-width: 1399.98px;
        padding: 0 15px;
    }
}
@media (max-width: 1355.98px) {
    .con4__block {
        width: 100%;
        margin-left: 0;
    }
}
@media (max-width: 1199.98px) {
    .container {
        padding: 0 15px;
    }
    .header__logo {
        margin: 0 auto;
        margin-bottom: 20px;
    }
    .menu__item {
        justify-content: space-around;
        max-width: 971px;
        width: 971px;
    }
    nav {
        margin-top: 51px;
    }
    .nav__p1, .nav__p2 {
        text-align: center;
    }
    .nav__buttons {
        text-align: center;
    }
    .nav__logos {
        margin: 0 auto;
        margin-top: 80px;
    }
    .main__bg {
        display: none;
    }
    .con4 {
        margin-left: 0;
    }
}

@media screen and (max-width: 1100px) {
    .main__bg {
        width: 630px;
        height: 510px;
    }
    .bg__im1 {
        right: 40px;
    }
    .bg__im2 {
        right: 90px;
    }
    .alltextcon1 {
        max-width: 600px;
    }
    .bg__im3 {
        right: 40px;
    }
}

@media screen and (max-width: 895px) {
    nav p {
        font-size: 50px;
    }
    nav {
        margin-top: 80px;
    }
    .main__bg {
        display: none;
    }
    .alltextcon1 {
        max-width: 650px;
    }
    .bg__im1 {
        display: none;
    }
    .bg__im2 {
        right: 90px;
        display: none;
    }
    .tre {
        width: 10%;
        height: 4px;
        background: #9aace2;
        margin: 5px auto 5px auto;
    }
    #reportmenu {
        margin-top: 5px;
        display: block;
    }
    .menu__item {
        display: none;
        justify-content: space-between;
        max-width: 860px;
    }
    .bg__im3 {
        display: none;
    }
    .form1 {
        margin: 0 auto;
        margin-top: 40px;
    }
    .contacts {
        display: block;
    }
    .map {
        margin-top: 20px;
    }
    .con6__text {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 768px) {
    nav p {
        font-size: 40px;
    }
    .map {
        width: 500px;
        height: 250px;
    }
}

@media screen and (max-width: 575.98px) {
    nav p {
        font-size: 30px;
    }
    .map {
        width: 100%;
        height: 230px;
        margin: 0 auto;
        margin-top: 20px;
    }
    .in__name,
    .form1,
    #in__sms {
        width: 300px;
    }
    .nav__b1 {
        max-width: 100%;
        width: auto;
        font-size: 11px;
        margin-right: 0;
    }
    .con3__block {
        flex-direction: column;
        align-items: center;
    }
    .con3__img {
        margin-top: 50px;
    }
    nav {
        margin-top: 35px;
    }
    .nav__b1 {
        margin-bottom: 20px;
    }
    .nav__logos {
        align-items: center;
        justify-content: center;
    }
    .c1__header1 {
        font-size: 30px;
    }
    .c1__hedaer3, .c1__header2, .c1__hedaer4 {
        font-size: 16px;
    }
    .con3 h2, .con3 h6, .con3 h3 {
        font-size: 30px;
    }
    .workers div {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
        margin-bottom: 30px;
    }
    .con2 {
        padding-bottom: 31px;
    }
    #q2a1, #q15a1, #q16a1, #q13a1, .question {
        font-size: 16px;
    }
    .con5 h2 {
        font-size: 30px;
    }
    .con3 h6, .con5 h6 {
        font-size: 16px;
    }
    #reportmenu>ul {
        padding: 0; 
        margin: 0 auto;
        text-align: center;
    }
    #reportmenu>ul li a {
        background: #fff;
    }
    #reportmenu>ul li a:hover, #reportmenu>ul li a:active {
        background: #fff;
    }
    .submenu li a {
        color: #000 !important;
        font-size: 16px;
        font-weight: 600;
    }
    .prava {
        padding-top: 30px;
        text-align: center;
    }
    .block {
        padding: 10px;
        width: 97%;
    }
    .con2 h2 {
        font-size: 30px;
    }
    .con4__block {
        padding: 33px 3px;
    }
    #in__sms {
        height: 85px;
    }
    .in__btn {
        margin-top: 31px;
    }
    .soob .block {
         padding: 5px;
         width: 88%;
         margin: 0 auto;
         margin-bottom: 41px;
         overflow: auto;

    }
    .soob .container {
        padding: 0 5px;
    }
}
@media screen and (max-width: 425.98px) {
    .soob  {
        overflow-x: hidden;
    }
    .soob .block {
        max-width: 350px;
        width: 100;
    }
}

.extended {
    display: grid;
    grid-template-columns: auto 120px 1fr;
    grid-column-gap: 10px;
}

.extended__input {
    border-bottom: 1px solid black;
}

.extended__input>input {
    border: 0;
    outline: none;
    display: none;
}

.extended__input.active {
    border-color: blue;
}

.extended__input.active>input {
    display: block;
}