<template>
    <div>
        <header>
            <div class="container">
                <div class="menu">
                    <div class="header__logo">
                        <router-link to="/"><img src="images/main-logo.png" class="logo" alt="main-logo"></router-link>
                    </div>
                    <div>
                        <ul class="menu__item">
                            <li><a href="/#con1">О НАС</a></li>
                            <li><a href="/#con2">КОМАНДА</a></li>
                            <li><a href="/#con3">ОПРОС</a></li>
                            <li><a href="/#con4">КОНТАКТЫ</a></li>
                            <li><a href="/#con5">ОСТАВИТЬ СООБЩЕНИЕ</a></li>
                            <li><router-link to="/messages">ПОЛУЧЕННЫЕ СООБЩЕНИЯ</router-link></li>
                        </ul>
                    </div>
                </div>

                <div id="reportmenu">
                    <ul Style="">
                        <li class="top-menu">
                            <a href="#">
                                <div class="tre"></div>
                                <div class="tre"></div>
                                <div class="tre"></div>
                            </a>
                            <ul class="submenu">
                                <li class="has-sub">
                                    <a href="/#con1">О НАС</a>
                                </li>
                                <li class="has-sub">
                                    <a href="/#con2">КОМАНДА</a>
                                </li>
                                <li class="has-sub">
                                    <a href="/#con3">ОПРОС</a>
                                </li>
                                <li class="has-sub">
                                    <a href="/#con4">КОНТАКТЫ</a>
                                </li>
                                <li class="has-sub">
                                    <a href="/#con5">ОСТАВИТЬ СООБЩЕНИЕ</a>
                                </li>
                                <li class="has-sub">
                                    <router-link to="messages">ПОЛУЧЕННЫЕ СООБЩЕНИЯ</router-link>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </header>
        <router-view></router-view>
    </div>
</template>

<script>
    export default {

        methods: {
            toggleClass() {
                
            }
        }
    }
</script>
