<template>
    <div>
        <section class="main">
            <div class="container">
                <nav style="position: relative; z-index: 999;">
                    <p class="nav__p1" id="shit">Справедливость</p>
                    <p class="nav__p2">Для каждого!</p>
                    <div class="nav__buttons">
                        <a href="#con3" class="scroll_to">
                            <button class="nav__b1">ОСТАВИТЬ СООБЩЕНИЕ О НАРУШЕНИИ ПРАВ</button>
                        </a>
                        <router-link to="/rights">
                            <button class="nav__b2">БОЛЬШЕ О ПРАВАХ</button>
                        </router-link>
                    </div>
                    <div class="nav__logos">
                        <img src="images/nav-logo1.png" alt="navlogo1" class="nav__logo1">
                        <img src="images/nav-logo2.png" alt="navlogo2" class="nav__logo2">
                    </div>
                </nav>
                
                <img src="images/main-bg-im.png" alt="" class="main__bg">
            </div>
        </section>

        <section class="con1" id="con1">
            <div class="container">
                <div class="alltextcon1">
                    <h2 class="c1__header1">О проекте <span>“АМЕС”</span></h2>
                    <h4 class="c1__header2">“АМЕС” — Алматинская модель по контролю за эпидемией ВИЧ</h4>
                    <h5 class="c1__hedaer3">Зачем создан сайт?</h5>
                    <p class="c1__par">Во-первых, решить конкретную проблему конкретного человека и защитить ваши права, во-вторых, — улучшить систему мониторинга нарушения прав и измерения уровня стигмы и дискриминации, по отношению к людям, живущим с ВИЧ, и представителям
                        ключевым группам населения (ключевые группы населения - мужчины, практикующие секс с мужчинами, секс работники, люди, употребляющие наркотики, трансгендерные люди).</p>
                    <h5 class="c1__hedaer4">Для кого создан сайт?</h5>
                    <p class="c1__par">Для людей, живущих с ВИЧ, и представителей ключевых групп населения, которые столкнулись со случаями дискриминации и нарушения их прав.</p>
                    <h5 class="c1__hedaer4">Зачем нужно оставлять сообщение на этом сайте?</h5>
                    <p class="c1__par">Cообщение, оставленное на сайте не останется без внимания. каждое сообщение будет рассматриваться индивидуально. если на сайте появляется информация, сообщающая об одной и той же проблеме это позволит обнаружить системную ошибку и принять
                        меры по ее исправлению.</p>
                    <h5 class="c1__hedaer4">Цель проекта “АМЕС”</h5>
                    <p class="c1__par">Cнизить количество новых случаев ВИЧ-инфекции и обеспечить эффективное лечение для людей, живущих с ВИЧ.</p>
                    <h5 class="c1__hedaer4">Задачи в рамках снижения стигмы и дискриминации:</h5>
                    <p class="c1__par"></p>Повышение информированности о правах человека людей, живущих с ВИЧ и ключевых групп населения с целью улучшения доступа к услугам.
                    <p>Снизить уровень стигматизирующего отношения и дискриминирующего поведения по отношению к людям, живущим с ВИЧ и ключевым групп населения среди медицинских работников.</p>
                    <p>Снизить уровень стигматизирующего отношения и дискриминирующего поведения по отношению к ЛЖВ и КП среди сотрудников правоохранительных органов.</p>
                    <img src="images/bg-im1.png" alt="" class="bg__im1">
                    <img src="images/bg-im2.png" alt="" class="bg__im2">
                </div>
            </div>
        </section>
        <section class="con2" id="con2" >
            <div class="container">
                <h2>Наши консультанты</h2>
                <div class="workers">
                    <div>
                        <img src="images/worker1.jpg" alt="worker1" class="worker">
                        <h5>Оксана Ибрагимова</h5>
                    </div>
                    <div>
                        <img src="images/worker2.jpg" alt="worker2" class="worker">
                        <h5>Любовь Воронцова</h5>
                    </div>
                    <div>
                        <img src="images/worker3.jpg" alt="worker3" class="worker">
                        <h5>Нурдаулет Егизеков</h5>
                    </div>
                </div>
            </div>
        </section>
        <section class="con3" id="con3">
            <div class="container">
                <div class="con3__block">
                    <div class="con3__text">
                        <h2>Пройдите опрос</h2>
                        <h6>Гарантируем конфиденциальность</h6>
                        <h3>— <span>Об опросе</span></h3>
                        <p>Данная информация собирается для измерения уровня стигмы и дискриминации по отношению к людям, живущих с ВИЧ, в г. Алматы. Опросник создан ОЮЛ "Центрально - Азиатской Ассоциацией Людей, Живущих с ВИЧ" в рамках проекта “АМЕС”.</p>
                        <p>Все персональные данные, которые Вы оставите в ходе опроса строго конфиденциальны, они нужны нам исключительно для того, чтобы бороться со стигмой и дискриминацией в отношении ЛЖВ.</p>
                        <p>Если Вам нужна помощь или защита, Вы всегда можете обратиться к нам по номерам указанным на сайте.</p>
                        <div class="con3__buttons">
                            <button class="con3__b1">ОПРОС</button>
                            <button class="con3__b2">КОНТАКТЫ</button>
                        </div>
                    </div>
                    <img src="images/newLogo.png" alt="newLogo" class="con3__img">
                </div>
            </div>
        </section>
        <section class="con4" id="con4">
            <div class="container">
                
                <div class="con4__block">
                    <form class="con4__form" @submit.prevent="save">
                        <div>
                            <p class="question">1. Вы проживаете в г.Алматы?</p>
                            <div class="">
                                <input type="radio" value="Да" v-model="poll.question1" name="question1" id="q1a1">
                                <label for="q1a1">Да</label>
                            </div>
                            <div class="">
                                <input type="radio" value="Нет" v-model="poll.question1" name="question1" id="q1a2">
                                <label for="q1a2">Нет</label>
                            </div>
                        </div>
                        <div>
                            <p class="question">2. Сколько Вам полных лет?</p>
                            <div class="">
                                <input type="text" v-model="poll.question2" id="q2a1" placeholder="Ваш ответ">
                            </div>
                        </div>
                        <div>
                            <p class="question">3. Какой пол был указан при рождении в Вашем свидетельстве о рождении?</p>
                            <div class="">
                                <input type="radio" value="Женский" v-model="poll.question3" name="question3" id="q3a1">
                                <label for="q3a1">Женский</label>
                            </div>
                            <div class="">
                                <input type="radio" value="Мужской" v-model="poll.question3" name="question3" id="q3a2">
                                <label for="q3a2">Мужской</label>
                            </div>
                        </div>
                        <div>
                            <p class="question">4. Гендерное определение некоторых людей отличается от того, которое указано 
                                в их свидетельстве о рождении. Как Вы идентифицируете себя сейчас?</p>
                            <div class="">
                                <input type="radio" value="Женщина" v-model="poll.question4" name="question4" id="q4a1">
                                <label for="q4a1">Женщина</label>
                            </div>
                            <div class="">
                                <input type="radio" value="Мужчина" v-model="poll.question4" name="question4" id="q4a2">
                                <label for="q4a2">Мужчина</label>
                            </div>
                            <div class="">
                                <input type="radio" value="Трансгендер" v-model="poll.question4" id="q4a3" name="question4">
                                <label for="q4a3">Трансгендер</label>
                            </div>
                            <div class="">
                                <input type="radio" value="Не идентифицирую себя, как женщину, мужчину или трансгендера" name="question4" v-model="poll.question4" id="q4a4">
                                <label for="q4a4">Не идентифицирую себя, как женщину, мужчину или трансгендера</label>
                            </div>
                            <div class="">
                                <input type="radio" value="Предпочитаю не отвечать" v-model="poll.question4" name="question4" id="q4a5">
                                <label for="q4a5">Предпочитаю не отвечать</label>
                            </div>
                        </div>
                        <div>
                            <p class="question">5. Социальное суждение. Вы согласны или не согласны со следующим утверждением: 
                                "Люди думают, что иметь ВИЧ - это позор и стыд, и они не должны общаться со мной".</p>
                            <div class="">
                                <input type="radio" value="Согласен/согласна" v-model="poll.question5" name="question5" id="q5a1">
                                <label for="q5a1">Согласен/согласна</label>
                            </div>
                            <div class="">
                                <input type="radio" value="Не согласен/не согласна" v-model="poll.question5" name="question5" id="q5a2">
                                <label for="q5a2">Не согласен/не согласна</label>
                            </div>
                            <div class="extended">
                                <div>
                                    <input type="radio" v-model="poll.question5" value="special" name="question5" class="special" id="q5a3">
                                    <label for="q5a3">Другое</label>
                                </div>
                                <div class="extended__input active" v-if="poll.question5 === 'special'">
                                    <input type="text" v-model="poll.question5Special">
                                </div>
                            </div>
                        </div>
                        <div>
                            <p class="question">6. Слышали ли Вы о Кодексе о здоровье народа и системе здравоохранения,
                                в котором прописаны нормы гарантирующие права людей, живущих с ВИЧ, в Казахстане?</p>
                            <div class="">
                                <input type="radio" name="question6" v-model="poll.question6" value="Да" id="q6a1">
                                <label for="q6a1">Да</label>
                            </div>
                            <div class="">
                                <input type="radio" name="question6" v-model="poll.question6" value="Нет" id="q6a2">
                                <label for="q6a2">Нет</label>
                            </div>
                        </div>
                        <div>
                            <p class="question">7. Если ДА, то читали ли Вы или обсуждали содержание этого закона?</p>
                            <div class="">
                                <input type="radio" name="question7" v-model="poll.question7" value="Да" id="q7a1">
                                <label for="q7a1">Да</label>
                            </div>
                            <div class="">
                                <input type="radio" name="question7" v-model="poll.question7" value="Нет" id="q7a2">
                                <label for="q7a2">Нет</label>
                            </div>
                        </div>
                        <div>
                            <p class="question">8. Испытывали ли Вы за последние 12 месяцев какие-либо из следующих 
                                переживаний из-за своего ВИЧ-статуса?
                                </p>
                            <div class="">
                                <input type="radio" name="question8" v-model="poll.question8" value="Мне стыдно" id="q8a1">
                                <label for="q8a1">Мне стыдно</label>
                            </div>
                            <div class="">
                                <input type="radio" name="question8" v-model="poll.question8" value="Я чувствую себя виноватым" id="q8a2">
                                <label for="q8a2">Я чувствую себя виноватым</label>
                            </div>
                            <div class="">
                                <input type="radio" name="question8" v-model="poll.question8" value="Я виню себя" id="q8a3">
                                <label for="q8a3">Я виню себя</label>
                            </div>
                            <div class="">
                                <input type="radio" name="question8" v-model="poll.question8" value="Я виню других" id="q8a4">
                                <label for="q8a4">Я виню других</label>
                            </div>
                            <div class="">
                                <input type="radio" name="question8" v-model="poll.question8" value="У меня низкая самооценка" id="q8a5">
                                <label for="q8a5">У меня низкая самооценка</label>
                            </div>
                            <div class="">
                                <input type="radio" name="question8" v-model="poll.question8" value="Я чувствую, что должен быть наказан" id="q8a6">
                                <label for="q8a6">Я чувствую, что должен быть наказан</label>
                            </div>
                            <div class="">
                                <input type="radio" name="question8" v-model="poll.question8" value="Я склонен/склонна к суициду" id="q8a7">
                                <label for="q8a7">Я склонен/склонна к суициду</label>
                            </div>
                            <div class="">
                                <input type="radio" name="question8" v-model="poll.question8" value="Нет. не испытывал" id="q8a8">
                                <label for="q8a8">Нет. не испытывал</label>
                            </div>
                        </div>
                        <div>
                            <p class="question">9. За последние 12 месяцев, сталкивались ли вы со случаями стигмы и дискриминации 
                                по отношению к вам?</p>
                            <div class="">
                                <input type="radio" name="question9" v-model="poll.question9" value="Да" id="q9a1">
                                <label for="q9a1">Да</label>
                            </div>
                            <div class="">
                                <input type="radio" name="question9" v-model="poll.question9" value="Нет" id="q9a2">
                                <label for="q9a2">Нет</label>
                            </div>
                        </div>
                        <div>
                            <p class="question">10. В каком учреждении за последние 12 месяцев, вам отказывали в медицинских услугах,
                                включая стоматологическую помощь, из-за вашего ВИЧ-статуса?
                                </p>
                            <div class="">
                                <input type="radio" name="question10" v-model="poll.question10" value="Городская поликлиника" id="q10a1">
                                <label for="q10a1">Городская поликлиника</label>
                            </div>
                            <div class="">
                                <input type="radio" name="question10" v-model="poll.question10" value="Частая поликлиника" id="q10a2">
                                <label for="q10a2">Частая поликлиника
                                </label>
                            </div>
                            <div class="">
                                <input type="radio" name="question10" v-model="poll.question10" value="Стоматология" id="q10a3">
                                <label for="q10a3">Стоматология</label>
                            </div>
                            <div class="">
                                <input type="radio" name="question10" v-model="poll.question10" value="Городская больница" id="q10a4">
                                <label for="q10a4">Городская больница</label>
                            </div>
                            <div class="">
                                <input type="radio" name="question10" v-model="poll.question10" value="Частная больница" id="q10a5">
                                <label for="q10a5">Частная больница</label>
                            </div>
                            <div class="">
                                <input type="radio" name="question10" v-model="poll.question10" value="Бригада скорой медицинской помощи" id="q10a6">
                                <label for="q10a6">Бригада скорой медицинской помощи</label>
                            </div>
                            <div class="">
                                <input type="radio" name="question10" v-model="poll.question10" value="Частная лаборатория" id="q10a7">
                                <label for="q10a7">Частная лаборатория</label>
                            </div>
                            <div class="">
                                <input type="radio" name="question10" v-model="poll.question10" value="Диагностический центр" id="q10a8">
                                <label for="q10a8">Диагностический центр</label>
                            </div>
                            <div class="extended">
                                <div>
                                    <input type="radio" name="question10" v-model="poll.question10" value="special" class="special" id="q10a9">
                                    <label for="q10a9">Другое</label>
                                </div>
                                <div class="extended__input active" v-if="poll.question10 === 'special'">
                                    <input type="text" v-model="poll.question10Special">
                                </div>
                            </div>
                        </div>
                        <div>
                            <p class="question">11. В каком учреждении за последние 12 месяцев, вам отказывали в медицинских услугах,
                                включая стоматологическую помощь, из-за вашего ВИЧ-статуса?
                                </p>
                            <div class="">
                                <input type="radio" name="question11" v-model="poll.question11" value="Мужчины, практикующие секс с мужчинами, геи или лесбиянки, трансгендерный человек." id="q11a1">
                                <label for="q11a1">Мужчины, практикующие секс с мужчинами, геи или лесбиянки, трансгендерный человек.</label>
                            </div>
                            <div class="">
                                <input type="radio" name="question11" v-model="poll.question11" value="Секс-работник" id="q11a2">
                                <label for="q11a2">Секс-работник</label>
                            </div>
                            <div class="">
                                <input type="radio" name="question11" v-model="poll.question11" value="Человек, употребляющий наркотики" id="q11a3">
                                <label for="q11a3">Человек, употребляющий наркотики</label>
                            </div>
                            <div class="">
                                <input type="radio" name="question11" v-model="poll.question11" value="Мигрант" id="q11a4">
                                <label for="q11a4">Мигрант</label>
                            </div>
                            <div class="">
                                <input type="radio" name="question11" v-model="poll.question11" value="Люди с алкогольной зависимостью" id="q11a5">
                                <label for="q11a5">Люди с алкогольной зависимостью</label>
                            </div>
                            <div class="">
                                <input type="radio" name="question11" v-model="poll.question11" value="Освободившийся из мест лишения свободы" id="q11a6">
                                <label for="q11a6">Освободившийся из мест лишения свободы</label>
                            </div>
                            <div class="extended">
                                <div>
                                    <input type="radio" name="question11" v-model="poll.question11" value="special" class="special" id="q11a7">
                                    <label for="q11a7">Другое</label>
                                </div>
                                <div class="extended__input active" v-if="poll.question11 === 'special'">
                                    <input type="text" v-model="poll.question11Special">
                                </div>
                            </div>
                        </div>
                        <div>
                            <p class="question">12. За последние 12 месяцев пытались ли Вы что-либо предпринять в случае
                                стигмы и дискриминации по отношению к вам?</p>
                            <div class="">
                                <input type="radio" name="question12" v-model="poll.question12" value="Да" id="q12a1">
                                <label for="q12a1">Да</label>
                            </div>
                            <div class="">
                                <input type="radio" name="question12" v-model="poll.question12" value="Нет" id="q12a2">
                                <label for="q12a2">Нет</label>
                            </div>
                            <div class="extended">
                                <div>
                                    <input type="radio" name="question12" v-model="poll.question12" value="special" class="special" id="q12a3">
                                    <label for="q12a3">Другое</label>
                                </div>
                                <div class="extended__input active" v-if="poll.question12 === 'special'">
                                    <input type="text" v-model="poll.question12Special">
                                </div>
                            </div>
                        </div>
                        <div>
                            <p class="question">13. Случай: опишите коротко с каким случаем стигмы и/или дискриминации
                                по отношения к Вашему ВИЧ-статусу Вы испытали за последние 12 месяцев?</p>
                            <div class="">
                                <input type="text" name="question13" v-model="poll.question13" id="q13a1" placeholder="Ваш ответ">
                                <!-- <label for="q13a1">Да</label> -->
                            </div>
                        </div>
                        <div>
                            <p class="question">14. Хотите ли вы получить консультацию по поводу случая стигмы
                                и дискриминации по отношению к вам?</p>
                            <div class="">
                                <input type="radio" name="question14" v-model="poll.question14" value="Да" id="q14a1">
                                <label for="q14a1">Да</label>
                            </div>
                            <div class="">
                                <input type="radio" name="question14" v-model="poll.question14" value="Нет" id="q14a2">
                                <label for="q14a2">Нет</label>
                            </div>
                        </div>
                        <div>
                            <p class="question">15. Укажите ваше имя, пожалуйста (как мы можем к вам обращаться):</p>
                            <div class="">
                                <input type="text" name="question15" v-model="poll.question15" id="q15a1" placeholder="Ваш ответ">
                            </div>
                        </div>
                        <div>
                            <p class="question">16. Телефон или электронный адрес</p>
                            <div class="">
                                <input type="texto" name="question16" v-model="poll.question16" id="q16a1" placeholder="Ваш ответ">
                            </div>
                        </div>
                        <button type="submit" class="in__btn con4__form_btn">
                            ОТПРАВИТЬ
                        </button>
                    </form>
                </div>
            </div>
        </section>
        <section class="con5" id="con5">
            <div class="container">
                
            <h2>Отправьте сообщение</h2>
            <h6>Жалобы, благодарности, предложения</h6>
                <form @submit.prevent="saveMessage" class="form1">
                    <div>
                        <input type="text" v-model="message.name" placeholder="Имя (например, аноним)" class="in__name">
                    </div>
                    <div>
                        <textarea v-model="message.message" placeholder="Ваше сообщение" id="in__sms"></textarea>
                    </div>
                    <button type="submit" class="in__btn">
                        ОТПРАВИТЬ
                    </button>
                </form>
                <img src="images/bg-im3.png" alt="" class="bg__im3">
            </div>
        </section>
        <section class="con6" id="con5">
            <div class="container">
                <div class="contacts">
                    <div class="con6__text">
                        <div>
                            <h2>Контакты</h2>
                            <p class="con6__par1">Central Asian Association of PLHIV
                                Казахстан, г. Алматы ул Ауэзова 175/1 
                                н.п. 5а,6 этаж (БЦ "Нурикон")</p>
                        </div>
                        <div>
                            <h6>Телефон:</h6>
                            <p><a href="tel:+77272258897">+7 (727) 225 88 97</a></p>
                        </div>
                        <div>
                            <h6>Электронная почта:</h6>
                            <p><a href="mailto:info@caapl.org">info@caapl.org</a></p>
                        </div>
                    </div>
                    <div class="map" id="map">
                    </div>
                </div>
            </div>
        </section>

    </div>
</template>

<script>
export default {
    data() {
        return {
            poll: {
                question1: '',
                question2: '',
                question3: '',
                question4: '',
                question5: '',
                question5Special: '',
                question6: '',
                question7: '',
                question8: '',
                question9: '',
                question10: '',
                question10Special: '',
                question11: '',
                question11Special: '',
                question12: '',
                question12Special: '',
                question13: '',
                question14: '',
                question15: '',
                question16: '',
            },

            settings: {
                apiKey: '',
                lang: 'ru_RU',
                coordorder: 'latlong',
                version: '2.1'
            },

            message: {
                name: '',
                message: ''
            },
        }
    },

    metaInfo () {
        return { title: '“АМЕС” — Алматинская модель по контролю за эпидемией ВИЧ' }
    },


    mounted() {
      let recaptchaScript = document.createElement('script')
      recaptchaScript.setAttribute('src', 'https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A49f9c01a758f488aced58237d65390725014b36634ab24bbb70861a9906c0904&amp;lang=ru_RU&amp;scroll=true')
      
      let mapSection = document.querySelector('#map');
      mapSection.appendChild(recaptchaScript)
    },

    methods: {
        save() {
            this.$axios.post('/api/poll', this.poll)
                .then(response => {
                    this.$swal('Успешно!', "Данные были успешно добавлены!", 'success');
                })
                .catch(error => {
                    this.$swal('Ошибка', "Что-то пошло не так! Попробуйте ещё раз!", 'error');
                })
        },

        saveMessage() {
            this.$axios.post('/api/message', this.message)
                .then(response => {
                    this.message = {};
                    this.$swal('Успешно!', 'Отлично! Сообщение успешно отправлено.', 'success');
                })
                .catch(error => {
                    this.$swal('Ошибка!', "Что-то пошло не так! Попробуйте ещё раз!", 'error');
                })
        }
    }
}
</script>