<template>
    <section class="prava soob">
        <div class="container">
            <div class="get__sms">
                <div>
                    <div class="block" v-for="message in messages" :key="message.id">
                        <p class="block__intro">{{ message.name }}</p>
                        <p class="block__date">{{ message.created_at }}</p>
                        <div class="block__items">
                            <h2 class="block__items_title">Сообщение:</h2>
                            <p class="block__items_text">{{ message.message }}</p>
                        </div>
                        <hr style="height: 1px; border: 1px; color: black; background: black; margin-top: 10px; margin-bottom: 10px;">
                        <div class="block__items" v-if="message.answer">
                            <h2 class="block__items_title">Ответ консультанта:</h2>
                            <p class="block__items_text">{{ message.answer }}</p>
                        </div>
                    </div>
                </div>
                    
            </div>
        </div>
    </section>
</template>

<script>
export default {

    metaInfo () {
        return { title: 'Полученные сообщения — “АМЕС”' }
    },

    data() {
        return {
            message: {
                name: '',
                message: ''
            },

            messages: []
        }
    },

    mounted() {
        this.initialize();
    },

    methods: {
        initialize() {
            this.$axios.get('/api/message')
                .then(response => {
                    this.messages = response.data.data;
                })
                .catch(error => {
                    this.$swal('Ошибка!', "Что-то пошло не так! Попробуйте ещё раз!", 'error');
                })
        },

        save() {
            this.$axios.post('/api/message', this.message)
                .then(response => {
                    this.initialize();
                    this.message = {};
                    this.$swal('Успешно!', 'Ваша сообщения была успешно добавлена!', 'success');
                })
                .catch(error => {
                    this.$swal('Ошибка!', "Что-то пошло не так! Попробуйте ещё раз!", 'error');
                })
        }
    }
}
</script>