<template>
    <section class="prava">
        <div class="container">
            <div class="prava__text">
                <div>
                    <h2>Обзор правовых документов.</h2>
                    <p>Кодекс Республики Казахстан от 7 июля 2020 года № 360-VI «О здоровье народа и системе здравоохранения»
                    </p>
                </div>
                <div>
                    <h2>Статья 76 Гарантии государства в области здравоохранения.
                    </h2>
                    <p>
                        1 Государство гарантирует гражданам Республики Казахстан:<br> 1) равный доступ к медицинской помощи;<br> 2) качество медицинской помощи;<br> 3) качество лекарственного обеспечения;<br> 4) доступность, эффективность и безопасность
                        лекарственных средств;
                        <br> 5) проведение мероприятий по профилактике заболеваний, формированию здорового образа жизни и здорового питания;<br> 6) свободу репродуктивного выбора, охрану репродуктивного здоровья и соблюдение репродуктивных прав;<br> 7)
                        санитарно-эпидемиологическое благополучие. 2 Республика Казахстан гарантирует гражданам Республики Казахстан защиту <span class="prav__red">от любых форм дискриминации и стигматизации, обусловленных наличием у них каких-либо заболеваний и состояний.</span>
                    </p>
                </div>
                <div>
                    <h2>Статья 83 Права и обязанности кандасов, иностранцев, лиц без гражданства и иных лиц</h2>
                    <p>1 Кандасы, беженцы, а также иностранцы и лица без гражданства, постоянно проживающие на территории Республики Казахстан, <span class="prav__red">имеют право на получение га гарантированного объема бесплатной медицинской помощи наравне с гражданами Республики
                    Казахстан</span>
                    </p>
                    <p>2 Иностранцы и лица без гражданства, временно пребывающие в Республике Казахстан, лица, ищущие убежище, <span class="prav__red">имеют право на получение гарантированного объема бесплатной медицинской помощи при острых заболеваниях и заболеваниях, представляющих
                    опасность для окружающих, по перечню и в о и в объеме, определяемых уполномоченным органом, если иное не предусмотрено законами Республики Казахстан или международными договорами, ратифицированными Республикой Казахстан</span></p>
                </div>
                <div>
                    <h2>Статья 134 Права пациентов </h2>
                    <p>
                        Пациент имеет право на: <br> 2) медицинскую помощь в очередности, определяемой исключительно на основе медицинских критериев, без влияния каких-либо дискриминационных факторов;
                    </p>
                </div>
                <div>
                    <h2>Статья 143 Оказание медицинской
                        помощи лицам, свобода которых
                        ограничена, Отбывающим наказание
                        по приговору суда в местах лишения
                        свободы, задержанным,
                        заключенным под стражу и
                        помещенным в специальные
                        учреждения</h2>
                    <p>
                        Иностранцы и лица без гражданства, свобода
                        которых ограничена, а также отбывающие
                        наказание по приговору суда в местах лишения
                        свободы, задержанные, заключенные под
                        стражу и помещенные в специальные
                        учреждения, <span class="prav__red">имеют право на получение
                        гарантированного объема бесплатной
                        медицинской помощи при состояниях,
                        угрожающих их жизни, и заболеваниях,
                        представляющих опасность для окружающих, в
                        соответствии с перечнем и в объеме,
                        определяемом уполномоченным органом</span>
                    </p>
                </div>
                <div>
                    <h2>Статья 78 Права детей</h2>
                    <p>
                        6 Дети с ограниченными возможностями,
                        зараженные ВИЧ-инфекцией, имеют право
                        на получение бесплатной медико-
                        педагогической коррекционной поддержки
                        в организациях образования,
                        здравоохранения<br>
                        Дети, зараженные ВИЧ-инфекцией, имеют
                        право на пребывание в домах ребенка и
                        иных организациях здравоохранения и
                        образования.<br>
                        Дети, рожденные от матерей,
                        зараженных ВИЧ-инфекцией, имеют
                        право на получение бесплатных
                        адаптированных молочных смесей в
                        соответствии с установленными
                        нормами питания.
                    </p>
                </div>
                <div>
                    <h2>Статья 79 Права граждан
                        РК и семьи в сфере охраны
                        репродуктивных прав.
                   </h2>
                    <p>
                        5 Граждане Республики Казахстан,
                        зараженные ВИЧ-инфекцией, имеют право
                        на усыновление детей наравне с другими
                        гражданами Республики Казахстан в
                        соответствии с законодательством
                        Республики Казахстан.<br>
                        6 Граждане Республики Казахстан,
                        зараженные ВИЧ-инфекцией, имеют право
                        на применение вспомогательных
                        репродуктивных методов и технологий в
                        соответствии с законодательством
                        Республики Казахстан.
                    </p>
                </div>
                <div>
                    <h2>Глава 19 Параграф 2 Оказание
                        медико-социальной помощи
                        ВИЧ-инфицированным и
                        больным СПИД.
                   </h2>
                    <p>
                        1 Лицам, зараженным ВИЧ-инфекцией, государством
                        гарантируются:<br>
                        1) доступность и качество конфиденциального
                        медицинского обследования на бесплатной основе,
                        обеспечение динамического наблюдения, предоставление
                        психосоциальных, юридических и медицинских
                        консультаций;<br>
                        2) медицинская помощь и лекарственное обеспечение в
                        рамках гарантированного объема бесплатной
                        медицинской помощи;<br>
                        3) осуществление профилактических мероприятий по
                        снижению риска передачи ВИЧ-инфекции от матери к
                        плоду и ребенку;<br>
                        4) социальная правовая защита.
                    </p>
                </div>
                <div>
                    <h2>Статья 160 Оказание
                        медицинской помощи лицам,
                        зараженным ВИЧ-инфекцией
                   </h2>
                    <p>
                        2 Граждане Республики Казахстан, кандасы,
                        иностранцы, лица без гражданства, беженцы,
                        живущие с ВИЧ, постоянно проживающие на
                        территории Республики Казахстан, и дети,
                        рожденные от ВИЧ инфицированных матерей с
                        неустановленным диагнозом, подлежат
                        динамическому наблюдению и обеспечению
                        лекарственными средствами в рамках
                        гарантированного объема бесплатной медицинской
                        помощи.<br>
                        3 Лица, нуждающиеся в доконтактной и
                        постконтактной профилактике ВИЧ-инфекции,
                        подлежат медицинскому наблюдению и
                        обеспечению лекарственными средствами в рамках
                        гарантированного объема бесплатной медицинской
                        помощи.
                    </p>
                </div>
                <div>
                    <h2>Статья 161 Социальная и
                        правовая защита лиц,
                        зараженных ВИЧ-
                        инфекцией
                   </h2>
                    <p>
                        1 Лицам, зараженным ВИЧ-инфекцией, не ограничиваются
                        обучение в организациях образования, пребывание в
                        санаторно-курортных организациях и оздоровительных
                        организациях образования.
                        2 Не допускаются прекращение трудового договора, запрет
                        на заключение трудового договора, за исключением случаев,
                        установленных трудовым законодательством Республики
                        Казахстан, прием в организации образования и социальные
                        учреждения, а также ущемление прав и законных интересов
                        лиц, зараженных ВИЧ-инфекцией, равно как ущемление
                        жилищных и иных прав и интересов их близких
                        родственников.
                        3 Не допускается запрос работодателем результатов
                        обследования на ВИЧ-инфекцию, кроме медицинских
                        работников, имеющих контакт с кровью, другими
                        биологическими жидкостями и биоматериалами,
                        подлежащих предварительным и периодическим
                        медицинским осмотрам.
                    </p>
                </div>
                <div>
                    <h2>Статья 161 Социальная и
                        правовая защита лиц,
                        зараженных ВИЧ-
                        инфекцией
                   </h2>
                    <p>
                        4 В случае выявления ВИЧ-инфекции работники с
                        установленным диагнозом «ВИЧ-инфекция» подлежат
                        переводу работодателем на другую работу, не
                        связанную с нарушением целостности кожных
                        покровов или слизистых.<br>
                        5 Особенности поступления, прохождения и
                        увольнения с воинской службы, службы в
                        специальных государственных и правоохранительных
                        органах лиц, зараженных ВИЧ-инфекцией,
                        определяются законодательством Республики
                        Казахстан.<br>
                        6 Лица, у которых заражение ВИЧ-инфекцией
                        произошло в результате ненадлежащего исполнения
                        служебных обязанностей медицинскими
                        работниками и работниками сферы бытового
                        обслуживания, имеют право на возмещение вреда,
                        причиненного жизни или здоровью, в соответствии с
                        законодательством Республики Казахстан.
                    </p>
                </div>
                <div>
                    <h2>Статья 162 Обследование
                        на ВИЧ-инфекцию
                   </h2>
                    <p>
                        Обязательному конфиденциальному
                        медицинскому обследованию на наличие ВИЧ-
                        инфекции в рамках гарантированного объема
                        бесплатной медицинской помощи подлежат:<br>
                        1) доноры и реципиенты крови, ее компонентов,
                        органов (части органа) и (или) тканей (части
                        ткани), половых клеток;<br>
                        2) лица на основании запросов органов
                        прокуратуры, следствия и (или) суда;<br>
                        3) лица по клиническим и эпидемиологическим
                        показаниям в порядке, определяемом
                        уполномоченным органом;<br>
                        4) лица, свобода которых ограничена,
                        отбывающие наказание по приговору суда в
                        местах лишения свободы, заключенные под
                        стражу и помещенные в специальные
                        учреждения.
                    </p>
                </div>
                <div>
                    <h2>Обследованию лиц по
                        эпидемиологическим показаниям на
                        наличие ВИЧ-инфекции подлежат
                        (Приказ МЗ и СР РК №508 от
                        23.06.2015 года)
                   </h2>
                    <p>
                        Реципиенты крови, ее компонентов до гемотрансфузий и через 1
                        и 3 месяца после;<br>
                        Половые партнеры ВИЧ-инфицированных и больных СПИДом
                        при обращении;<br>
                        Партнеры по совместному употреблению инъекционных
                        наркотиков при обращении;<br>
                        Ключевые группы населения,
                        Лица, имеющие беспорядочные половые связи при обращении;<br>
                        Дети, родившиеся от ВИЧ-инфицированных матерей, в возрасте
                        1-2 месяца;<br>
                        Лица, пострадавшие в результате аварийных ситуации в момент
                        обращения и далее через 1 и 3 месяца.<br>
                        Медицинский персонал, имеющий контакт с кровью, другими
                        биологическими жидкостями, биоматериалами, при
                        поступлении на работу и далее 1 раза в год<br>
                        Беременные женщины
                    </p>
                </div>
                <div>
                    <h2>Статья 273 Тайна
                        медицинского работника
                   </h2>
                    <p>
                        Медицинскую тайну составляют:
                        персональные медицинские данные,
                        информация о факте обращения за
                        медицинской помощью, состоянии
                        здоровья лица, диагнозе его
                        заболевания и иные сведения,
                        полученные при его обследовании и
                        (или) лечении.
                    </p>
                </div>
                <div>
                    <h2>НЕ ДОПУСКАЕТСЯ разглашение сведений,
                        составляющих тайну медицинского работника,
                        лицами, которым они стали известны при обучении,
                        исполнении профессиональных, служебных и иных
                        обязанностей, кроме:
                   </h2>
                    <p>
                        • в целях обследования и лечения лица, не способного из-за своего состояния
                        выразить свою волю, в случае отсутствия законного представителя;<br>
                        • по запросу органов дознания и предварительного следствия, прокурора,
                        адвоката и (или) суда в связи с проведением расследования или судебного
                        разбирательства;<br>
                        • при оказании медицинской помощи несовершеннолетнему или
                        недееспособному лицу для информирования его законного представителя;<br>
                        • при наличии оснований полагать, что вред здоровью гражданина
                        Республики Казахстан причинен в результате противоправных деяний;<br>
                        • при обнаружении у лица психических отклонений и склонностей к
                        сексуальному насилию;<br>
                        • при проведении государственного контроля качества оказания медицинских
                        услуг (помощи), мониторинга договорных обязательств по качеству и
                        объему медицинских услуг;<br>
                        • при проведении проверок органами прокуратуры в порядке,
                        установленном Законом Республики Казахстан «О прокуратуре»;<br>
                        • по запросу специальных государственных органов в целях решения задач
                        контрразведывательной деятельности.<br>
                    </p>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
export default {

    metaInfo () {
        return { title: 'Права людей живущих с ВИЧ в Казахстане — “АМЕС”' }
    },
    
}
</script>